<div id="header-ground" class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6 col-md-12 col-sm-12 my-5">
      <h2 class="container">عائلة حمشو</h2>
      <h3 class="container">
        هنا سيوجد لمحة صغيرة عن العائلة من باب التعريف
      </h3>
    <div class="row ml-5 justify-content-end " >
      <button id="read-more-button"
      class="btn btn-primary " style="width: fit-content;" >
      إقرأ المزيد
    </button>
    </div>
    </div>
    <img id="image-header" class="col-lg-6 col-md-12 col-sm-12 " src="assets/mainpic.png" alt="" />
  </div>
</div>
