
  <div class="row m-auto" style="background-color: #151921;">
    <div class="col-lg-6 m-auto"
      style="justify-content: center;text-align: center;border-radius: 20px;border-color: white;border-style: solid;border-width: 1px;height: 100%;">
        <div style="padding-top: 35%;padding-bottom: 35%;">
          <h1 class="white-text">تواصل معنا</h1>
      <h1 sty class="white-text">{{email}}</h1>
      <h1 class="white-text">{{phone}}</h1>
        </div>
    </div>
    <div class="col-lg-6 m-auto" style=" text-align: center; align-items: center;padding: 20px;">
      <div class="container " style="background-color: transparent;">
        <!-- <br> -->
        <div class="col m-auto" style="text-align: right;background-color: transparent;">
          <h2 class="text">الاسم الكامل: </h2>
          <mat-form-field appearance="outline" color="bg-light" style="margin: auto;color: white; ">
            <mat-label class="text">الاسم مع الكنية</mat-label>
            <input matInput type="text" color="white">
          </mat-form-field>
        </div>
        <div class="col m-auto" style="text-align: right;">
          <h2 class="text">الإيميل: </h2>
          <mat-form-field appearance="outline" style="margin: auto;color: white;">
            <mat-label class="text">example@example.com</mat-label>
            <input matInput type="email">
          </mat-form-field>
        </div>
        <div class="col m-auto" style="text-align: right;">
          <h2 class="text">الرسالة: </h2>
          <mat-form-field appearance="outline" style="margin: auto;width: 100%;color: white;">
            <mat-label class="text">مضمون الرسالة</mat-label>
            <textarea matInput rows="5" style="width: 100%;"></textarea>
          </mat-form-field>
        </div>
        <div class="container" style="text-align: right;">
          <button mat-raised-button style="margin: auto;width: 120px;">إرسال</button>
        </div>
        <br>
      </div>
    </div>
  </div>


